---
---

@import "{{ site.theme }}";

h1.big {

  font-size: 28px;

}

h1.title {

  font-size: 25px;

}

p.big {

  font-size: 20px;

}

.wrapper {

  width: 1440px;

}

header {

  width: 300px;

}

footer {

  width: 300px;

}

section {

  width: 1000px;

}

p {

  max-width: 600px;

}

img {

  min-width: 1000px;

}

#logo {

  width: 300px;
  min-width: 300px;

}
