---
---

@import "{{ site.theme }}";

h1 {

  color: #f00;

}

.wrapper {

  width: 1440px;

}

header {

  width: 300px;

}

footer {

  width: 300px;

}

section {

  width: 1140px;

}

p {

  max-width: 600px;

}

img {

  min-width: 1140px;

}

#logo {

  width: 300px;
  min-width: 300px;

}
